@{
    ViewData["Title"] = "Super Duper Properties";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
</div>
<div class="cta">
    <a class="cta-button" asp-area="" asp-controller="Properties" asp-action="Index">Manage&nbsp;Properties</a>
</div>
