html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 45px;
}

.container .main-section {
    #background-image: url("../assets/suburbs.jpg");
    #padding-bottom: 100%;
}

.cta {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #40a558;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.cta a.cta-button {
    width: 170px;
    height: 65px;
    margin-top: 100px;
}

.cta a.add-new {
    width: 140px;
    height: 45px;
    margin: 35px 10px;
}

.cta a:link {
    color: white;
}

.property-container {
    background-color: rgba(0,20,45,0.2);
    min-height: 65vh;
    padding: 15px;
}

div.address-line {
    font-size: 1.3em;
}

.individual-property {
    background-color: #fdfdfd;
    margin: 10px 0px 30px 0px;
    padding: 25px 5px 5px 5px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
}

h5.property-subtitle {
    font-size: 1.2rem;
    margin: 15px 0px 5px 8px;
    font-weight: 500;
    padding-left: 10px;
}

.hidden {
    display: none;
}

.form-group input.btn.btn-primary {
    margin-top: 10px;
}

.property-line-item {
    padding-left: 20px;
}

hr.property-item-spacer {
    border: 1px solid #a7a7a7;
}

div.property-container p.property-link {
    text-align: center;
}

div.individual-property a.edit-link {
    margin-left: 10px;
}


